:root {
  --pr-color: #04991c;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: #0058b0; /*ganti warna background*/
}

.navbar-nav .nav-link {
  color: #f1f1f1; /*ganti warna text*/
  font-size: 16px;
}

.navbar-nav .nav-link:hover {
  color: var(--pr-color);
}

.button-secondary {
  width: 125px;
  height: 40px;
  background-color: var(--pr-color);
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
}

.button-primary {
  width: 125px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  color: aliceblue;
}

.content h1 {
  font-size: 6em;
  margin: 0 auto;
}

.content p {
  font-size: 2em;
  margin: 0 auto;
}

.card {
  border-radius: 10px;
  margin: 10px;
}

.img-fluid {
  max-width: 300px;
  border-radius: 20px;
  height: 300px;
  padding: 10px;
}

.trending-topics {
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
}

.trending-topics h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.trending-topics ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.trending-topics li {
  margin-bottom: 10px;
}

.topic {
  display: flex;
  align-items: center;
}

.topic img {
  border-radius: 5px;
  width: 150px;
  height: 100px;
  margin-right: 10px;
}

.topic a {
  font-size: 12px;
  color: #333;
  text-decoration: none;
}
.btn-danger {
  background-color: var(--pr-color);
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
}
#kaki {
  color: #ffff;
}

.tips-lainnya {
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
}

.tips-lainnya h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tips-lainnya ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tips-lainnya li {
  margin-bottom: 10px;
}

.tips {
  display: flex;
  align-items: center;
}

.tips img {
  border-radius: 5px;
  width: 150px;
  height: 100px;
  margin-right: 10px;
}

.tips a {
  font-size: 12px;
  color: #333;
  text-decoration: none;
}
